{erl_opts, [debug_info]}.
{deps, [{vernemq_dev,
    {git, "git://github.com/vernemq/vernemq_dev.git", {branch, "master"}}}
]}.

% {relx, [{release, {vmq_ClientTopics, "0.1.0"},
%          [vmq_ClientTopics,
%           sasl]},

%         {sys_config, "./config/sys.config"},
%         {vm_args, "./config/vm.args"},

%         {dev_mode, true},
%         {include_erts, false},

%         {extended_start_script, true}]
% }.

% {profiles, [{prod, [{relx, [{dev_mode, false},
%                             {include_erts, true}]}]
%             }]
% }.
